body {
  display: flex;
  justify-content: center;
  background-color: floralwhite;
  padding-top: 8rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: white;
  max-width: 560px; /* 안의 내용물이 찌그러지지 않게 고정하는 것이 좋음 */
  overflow: hidden; /* 넘치면 숨김 */
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.3);
}

.banner {
  background-image: url('images/bg5.jpg');
  background-size: 100%;
  height: 8rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  /* 프로필의 높이와 넓이를 지정 */
  width: 6rem;
  height: 6rem;
  /* 프로필의 이미지 삽입 */
  background-image: url('images/profile_avatar.png');
  background-repeat: no-repeat;

  /* 프로필의 이미지 크기 조정 */
  background-size: 120px;

  /* 프로필의 도형을 원으로 만들기 */
  border-radius: 50%;

  /* 프로필의 도형에 그림자 효과 추가 */
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.3);

  /* 크기 변형 */
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/* 프로필의 애니메이션 효과 추가 */
.profile:hover {
  transform: translateY(50%) scale(1.3);
}

.name {
  /* 글자를 중앙정렬 및 간격 조정 */
  text-align: center;
  padding-top: 20px;
}

.follow-btn {
  /* 버튼의 길이 조정 */
  padding: 0.2rem;
  /* block 값을 제거 */
  display: flex;
  /* 주축 방향 변경 및 수직으로 가운데 정렬*/
  flex-direction: column;
  justify-content: center;
}

.follow-btn button {
  /*폰트 크기 및 굵기 변경*/
  font-size: medium;
  font-weight: bold;
  background-color: yellowgreen;
  /* 버튼의 border 값과 클릭시 나오는 경계선 삭제 */
  border: none;
  outline: none;
  /* 버튼 크기 조정 */
  padding: 1rem;
  /* 버튼 모서리 둥글게*/
  border-radius: 50px;
}

.follow-btn button:hover {
  background-color: rgb(135, 185, 45);
  transform: scale(0.8);
}

.description {
  padding: 1.5rem;
  font-size: 1rem;
}
